/* || Header || */

header {
    padding: 97px 0 180px;
    text-align: center;
}

h1 {
    margin: 0 0 8px;
}

header p {
    max-width: 485px;
    margin: 0 auto;
    padding: 0 25px;
}

header .generic {
    display: inline-block;
    margin: 0 0 46px;
    border-bottom: dashed 1px transparent;
    color: var(--gray-4);
    cursor: pointer;
}

header .generic:hover {
    border-bottom-color: var(--gray-3);
}

header img {
    display: none;
    width: 100%;
    margin: 0 0 96px;
    border-radius: 20px;
}

header img[data-show="true"] {
    display: block;
}

/* || Recent Projects || */

#projects {
    padding: 0;
}

#projects h2 {
    margin: 0 0 10px;
}

#projects > a {
    /* for some reason inline-block doesn't work
       with `margin: 0 auto;`. gotta check why. */
    width: fit-content;
    display: block;
    margin: 0 auto 50px;
}
