/* || Header || */

header {
    margin: 20px 0 90px;
    padding: 80px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0 0 8px;
}

header p {
    max-width: 450px;
    padding: 0 25px;
    margin: 0 auto;
}

header .generic-text {
    display: inline-block;
    margin: 0 0 46px;
    border-bottom: dashed 1px transparent;
    color: var(--gray-4);
    cursor: pointer;
}

header .generic-text:hover {
    border-bottom-color: var(--gray-3);
}

header img {
    display: none;
    width: 80%;
    margin: 0 auto 40px;
    border-radius: 20px;
}

header img[data-show="true"] {
    display: block;
}

/* || Recent Projects || */

#projects {
    padding: 0;
}

#projects h2 {
    margin: 0 0 100px;
    text-align: center;
}

#projects ul {
    margin-bottom: 50px;
}

#projects > a {
    /* for some reason inline-block doesn't work
       with `margin: 0 auto;`. gotta check why. */
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
