/* || Projects || */

#projects {
    padding: 97px 0 0;
}

#projects h2 {
    margin: 0 0 35px;
    text-align: center;
}

.project-grid {
    display: grid;
    padding: 0 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px 20px;
}

.project-grid img {
    width: 100%;
    margin: 0 0 7px;
    border-radius: 10px;
}

.project-grid h3 {
    margin: 0 0 8px 15px;
}

.project-grid a {
    margin: 0 15px 0;
    color: var(--gray-3);
}

@media screen and (max-width: 570px) {
    .project-grid {
        text-align: center;
    }
}
